<p-dropdown
  [options]="menuTypes"
  [(ngModel)]="selectedMenuType"
  optionLabel="label"
  (onChange)="onChangeType($event)"
>
</p-dropdown>

<div class="mt-3">
  <p-dropdown
    class="mt-3"
    [options]="tourTypes"
    optionLabel="label"
    (onChange)="changeTourType($event)"
  >
  </p-dropdown>
</div>

<div class="mt-3">
  <p-calendar
    appCanWrite
    (onSelect)="selectDate($event)"
    (onClearClick)="selectDate($event)"
    [showButtonBar]="true"
  ></p-calendar>
</div>

<div class="mt-3">
  <!--  <p-button appCanWrite-->
  <!--    label="Error"-->
  <!--    (onClick)="initRestError()"-->
  <!--  >-->
  <!--  </p-button>-->
  <!--  <button appCanWrite>Test btn</button>-->
</div>

<div>
  <button (click)="initUserInfo()">Init user info</button>

  <button (click)="addBasket()">Add basket</button>
</div>

<div *ngIf="currentUser" class="mt-2">
  <b>Пользователь:</b> {{ currentUser.login }}<br />
  <span *ngIf="currentUser.email">Email: {{ currentUser.email }}</span
  ><br />
  <span *ngIf="currentUser.role">Роль: {{ currentUser.role }}</span>
</div>

<div *ngIf="basketItems.length > 0; else emptyBasket" class="mt-2">
  <b>Корзина:</b>
  <ul>
    <li *ngFor="let item of basketItems">
      ID: {{ item.id }} | Пользователь: {{ item.user?.login }}
    </li>
  </ul>
</div>
<ng-template #emptyBasket>
  <div class="mt-2">Корзина пуста</div>
</ng-template>

<div class="mt-3">
  <p-button label="Refresh settings" (onClick)="initSettingsData()"> </p-button>
</div>

<p-toast position="top-left"></p-toast>
