<app-orders-header></app-orders-header>

<div class="pagination-controls">
  <button pButton type="button" (click)="prevPage()" [disabled]="page === 1">
    Назад
  </button>
  <span>Страница: {{ page }}</span>
  <button pButton type="button" (click)="nextPage()">Вперед</button>
  <span
    >Показывать по:
    <select [(ngModel)]="limit" (change)="setLimit(limit)">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>
  </span>
</div>

<ul *ngIf="orders$ | async as orders">
  <li *ngFor="let order of orders">
    <strong>Пользователь:</strong> {{ order.userId }}<br />
    <strong>Тур:</strong> {{ order.tourId }}<br />
    <strong>Возраст:</strong> {{ order.age }}<br />
    <strong>Дата рождения:</strong> {{ order.birthDay }}<br />
    <strong>Карта:</strong> {{ order.cardNumber }}<br />
    <strong>ID:</strong> {{ order._id }}
  </li>
</ul>
